body {
    background-color:#f0ecef;
}

.navbar {
    background-color: #90448c;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: -10px;
}

.text {
    margin-top:30px;
    width: 1440px;
    height: 200px;
    left: 763px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #f0ecef;
    background-color: #63246a;
    border-radius: 40px;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.25);
    padding-top: 23px;
}

.teks {
    margin-top:80px;
    margin-left: -73px;
    width: 1440px;
    height: 80px;
    left: 763px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #f0ecef;
    background-color: #90448c;
    padding-top: 15px;
}

.result .resulttbl {
    background-color: #f0ecef;
    width: 1290px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 340px;
    margin-top: 70px;
}


.judul {
    background-color:#63246a ;
    color:#f0ecef;
}

.footer {
    background-color: #f9b91d;
    width: 1440px;
    height: 90px;
    padding-top: 30px;
    margin-top: 50px;
}
